body {
  background-color: #EFF3F6;
}

.login-clip-path-1 {
  position: absolute;
  width: 100%;
  min-height: 100vh;
  background: #EFF0F2;
  clip-path: polygon(61% 61%, 100% 75%, 100% 100%, 0% 100%);
}

#choose-plan .plan {
  width: 100%;
  min-height: 100px;
  transition: 300ms;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
#choose-plan .plan:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
#choose-plan .plan.blue {
  border: 1px solid #3498db;
}
#choose-plan .plan.blue .plan-heading {
  background-color: #3498db;
}
#choose-plan .plan-heading {
  padding: 10px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}
#choose-plan .plan-body {
  padding: 10px;
}
#choose-plan .plan-button {
  width: 100%;
  position: relative;
  border: none;
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  touch-action: manipulation;
  outline: none;
  cursor: pointer;
  background-image: none;
  white-space: nowrap;
  padding: 6px 10px;
  font-size: 1em;
  line-height: 1.846;
  border-radius: 3px;
  -ms-user-select: none;
  user-select: none;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
  #websites-table td:nth-of-type(1):before {
    content: "Name";
  }
  #websites-table td:nth-of-type(2):before {
    content: "Domain";
  }
  #websites-table td:nth-of-type(3):before {
    content: "Status";
  }
  #websites-table td:nth-of-type(4):before {
    content: "Actions";
  }
}
.messages-sidebar {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
}
.messages-sidebar ul {
  margin: 0px;
  padding: 20px 0px;
}
.messages-sidebar .chat-item {
  display: block;
  width: inherit;
  height: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  transition: 300ms;
}
.messages-sidebar .chat-time {
  float: right;
  display: inline-block;
}
.messages-sidebar .chat-time p {
  font-size: 0.6em;
}
.messages-sidebar .chat-item:hover {
  background-color: #0000000a;
}
.messages-sidebar .chat-icon {
  border-radius: 2px;
  padding: 5px 15px;
  color: #FFFFFF;
  width: fit-content;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
}
.messages-sidebar .chat-item.red .chat-icon {
  background-color: #e74c3c;
  background-image: linear-gradient(120deg, #e74c3c 0%, #d62c1a 100%);
}
.messages-sidebar .chat-item.red.active {
  background-color: #0000000a;
  border-left: 5px solid #e74c3c;
}
.messages-sidebar .chat-item.green .chat-icon {
  background-color: #2ecc71;
  background-image: linear-gradient(120deg, #2ecc71 0%, #25a25a 100%);
}
.messages-sidebar .chat-item.green.active {
  background-color: #0000000a;
  border-left: 5px solid #2ecc71;
}
.messages-sidebar .chat-item.yellow .chat-icon {
  background-color: #f1c40f;
  background-image: linear-gradient(120deg, #f1c40f 0%, #c29d0b 100%);
}
.messages-sidebar .chat-item.yellow.active {
  background-color: #0000000a;
  border-left: 5px solid #f1c40f;
}
.messages-sidebar .chat-item.blue .chat-icon {
  background-color: #3498db;
  background-image: linear-gradient(120deg, #3498db 0%, #217dbb 100%);
}
.messages-sidebar .chat-item.blue.active {
  background-color: #0000000a;
  border-left: 5px solid #3498db;
}
.messages-sidebar .chat-text {
  color: #212529;
  padding: 5px 15px;
  width: fit-content;
  max-width: 130px;
  display: inline-block;
}
.messages-sidebar .chat-text .title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 0.8;
  font-weight: bold;
}
.messages-sidebar .chat-text .subtitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 0.7em;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#settings-menu {
  width: 100%;
  min-height: 100vh;
  background-color: #FFFFFF;
}
#settings-menu ul {
  margin: 0px;
  padding: 20px 0px;
}
#settings-menu .settings-item {
  display: block;
  width: inherit;
  height: 100%;
  padding: 10px 15px;
  border-bottom: 1px solid #e2e2e2;
  cursor: pointer;
  transition: 300ms;
}
#settings-menu .settings-item:hover {
  background-color: #0000000a;
}
#settings-menu .settings-icon {
  border-radius: 2px;
  padding: 5px 15px;
  color: #FFFFFF;
  width: fit-content;
  font-size: 1.5em;
  display: inline-block;
  vertical-align: top;
}
#settings-menu .settings-item.red .settings-icon {
  background-color: #e74c3c;
}
#settings-menu .settings-item.red.active {
  background-color: #0000000a;
  border-left: 5px solid #e74c3c;
}
#settings-menu .settings-item.green .settings-icon {
  background-color: #2ecc71;
}
#settings-menu .settings-item.green.active {
  background-color: #0000000a;
  border-left: 5px solid #2ecc71;
}
#settings-menu .settings-item.yellow .settings-icon {
  background-color: #f1c40f;
}
#settings-menu .settings-item.yellow.active {
  background-color: #0000000a;
  border-left: 5px solid #f1c40f;
}
#settings-menu .settings-item.blue .settings-icon {
  background-color: #3498db;
}
#settings-menu .settings-item.blue.active {
  background-color: #0000000a;
  border-left: 5px solid #3498db;
}
#settings-menu .settings-text {
  color: #212529;
  padding: 5px 15px;
  width: fit-content;
  display: inline-block;
}
#settings-menu .settings-text .title {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 0.8;
  font-weight: bold;
}
#settings-menu .settings-text .subtitle {
  margin-block-start: 0px;
  margin-block-end: 0px;
  font-size: 0.7em;
}

#sidebar {
  background: #1C242F;
  width: 80px;
  min-height: 100vh;
  position: fixed;
  padding: 10px 0px;
  text-align: center;
  z-index: 1040;
}
#sidebar .sidebar-logo img {
  width: 54px;
}
#sidebar .user-avatar-container {
  margin-top: 20px;
}
#sidebar .sidebar-menu {
  margin-top: 20px;
  padding: 0px;
  position: relative;
  list-style-type: none;
}
#sidebar .sidebar-menu .menu-item {
  position: relative;
  margin: 10px 0px;
  transition: 300ms;
}
#sidebar .sidebar-menu .menu-item span {
  text-align: center;
  font-size: 32px;
  color: #FFFFFF;
}
#sidebar .sidebar-menu .menu-item:hover {
  background: #00000036;
}
#sidebar .sidebar-menu .menu-item.active {
  border-left: 5px solid #00a8ff;
  background: #00000036;
}

@media only screen and (min-width: 768px) {
  #sidebar {
    width: 0px;
    animation: sidebarAnimate;
    animation-duration: 300ms;
    animation-fill-mode: both;
  }
}
@keyframes sidebarAnimate {
  from {
    width: 0px;
  }
  to {
    width: 80px;
  }
}
main {
  width: calc(100% - 80px);
  float: right;
  left: 0;
  position: relative;
}

main .main-content {
  float: left;
}

.user-avatar-container {
  position: relative;
  width: fit-content;
  height: fit-content;
}
.user-avatar-container img {
  position: relative;
  width: 42px;
  height: 42px;
  border-radius: 5px;
}
.user-avatar-container img.large {
  width: 72px;
  height: 72px;
}
.user-avatar-container .status {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: green;
  top: 36px;
  right: 6px;
  border: #1C242F 1px solid;
}
.user-avatar-container .change-container {
  width: 32px;
  height: 32px;
  background: #00a8ff;
  position: absolute;
  border-radius: 50%;
  bottom: 0px;
  right: -25%;
  text-align: center;
  cursor: pointer;
}
.user-avatar-container .change-container span {
  vertical-align: sub;
  color: #FFF;
}

.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #1C242F;
  height: 100%;
  width: 6px;
  display: inline-block;
  margin: 2px;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.4);
  }
  20% {
    -webkit-transform: scaleY(1);
  }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }
  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

/*# sourceMappingURL=app.css.map */
