
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Invite Operator</title>
</head>
<body>
  <div class="content">
    <span>Hello {{user.firstname}},</span><br/>
    <h3>You are invite to join {{website.name}}</h3>
    <br/>
    <a class="btn" href="http://app.{{default.host}}/invite?token={{invite.token}}">Accept</a>
  </div>
</body>
</html>
