// Colors
$color-primary: #00a8ff;
$color-danger: #F44336;
$color-disabled: #e2e2e2;
$color-red: #e74c3c;
$color-green: #2ecc71;
$color-yellow: #f1c40f;
$color-blue: #3498db;

// Siebar
$sidebar-color: #1C242F;
$sidebar-width: 80px;
$sidebar-menu-hover: #00000036;

// Menus
$menu-hover: #0000000a;

// Dropdown, Tooltips
$dropdown-background: #fbfbfb;
// #0000000a

// Shadows
$shadow-1: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24);
$shadow-2: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(0,0,0,.23);
